/* This on any html/css so you have more control */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;

}

header {
    padding: 10px;
    height: 50px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    height: 30px;
    float: left;
}

#menu-button {
    height: 35px;
    float: right;
}

main {
    height: 500px;
    background-size: 100vw;
}

#spices {
    filter: brightness(70%);
    width: 100%;
    height: 500px;
    object-fit: cover;
}

footer {
    background-color: lightgray;
    height: 200px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
}

.welcome-get-started {
    /* color: white; */
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#welcome {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
}

#welcome-button {
    color: orange;
    background-color: lightgoldenrodyellow;
    border-radius: 100px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: 4px solid orange;
    font-family: "Times New Roman", Times, serif;
    background-color: yellow;
}

.cat-drowning {
    width: 40%;
    height: 200px;
    float: left;
    padding: 20px;
    position: relative;
    
}

.cat-drowning img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 10px;
}

.cat-drowning p {
    margin: 15px;
}

.cat-drowning h3 {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 5px; 
}

.world-greece {
    width: 40%;
    height: 200px;
    float: right;
    padding: 20px;
    position: relative;
}

.world-greece img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 10px;
}

.world-greece p {
    margin: 15px;
}

.world-greece h3 {
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 5px;  
}

.overlay {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
     width: 100%;
     height: 100%;
     visibility: hidden;
}


.side-nav {
    background-color: #fff;
    height: 100VH;
    width: 25%;
    z-index: 3;
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    padding-left: 30px;
    transition: 2;
    visibility: hidden;
    transition-property: transform;
    transition-duration: 2s;
    transform: translateX(100%);
}

.on {
    transition-property: transform;
    transform: translateX(0%);
    visibility: visible;
    right: 0;
    transition-duration: 2s;
    
    /* top: 0; */
}
.side-nav p {
    float: right;
    font-size: 20px;
}

.side-nav div {
    margin: 20px
}

#top-link {
    margin-top: 50px;
    font-size: 25px;
    /* text-decoration: none; */
}

#second-link {
    font-size: 25px;
    /* text-decoration: none; */
}

#third-link {
    font-size: 25px;
    /* text-decoration: none; */
}

#fourth-link {
    font-size: 25px;
    /* text-decoration: none; */
}

#log-out {
    margin-top: 50px;
    /* text-decoration: none; */
}

@media screen and (max-width: 812px) {
    .world-greece {
        width: 100%;
        height: max-content;
    }

    .cat-drowning {
        width: 100%;
        height: max-content;
    }
    
    main {
        height: 100%;
    }
    footer {
        height: max-content;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }
}