* {
    margin: 0;
}

body {
    background-color: gray;
}

header {
    padding: 8px;
    border: 1px gray;
    height: 50px;
    background-color: #fff;
}

#logo {
    height: 50px;
    float: left;
}

#menu-button {
    height: 50px;
    float: right;
}

/* main {
    width: 100vw;
    height: 100vh;
    position: relative;
} */

#spices {
    width: 100vw;
    min-height: 70vh;
    position: relative;
    object-fit: cover;
}

footer {
    background-color: gray;
    height: 30%;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
