/* This on any html/css so you have more control */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    /* min-height: 100vw; */
}

header {
    padding: 10px;
    border: 1px solid gray;
    height: 50px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#logo {
    height: 30px;
    float: left;
}

#menu-button {
    height: 30px;
    float: right;
}

main {
    /* width: 100vw; */
    height: 500px;
    /* background-image: url(assets/spices.jpg); */
    background-size: 100vw;
    /* background-repeat: inherit; */
    /* background-position: bottom; */
}

#spices {
    filter: brightness(70%);
    width: 100%;
    height: 500px;
    object-fit: cover;
}

footer {
    background-color: lightgray;
    height: 200px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
}

.welcome-get-started {
    /* color: white; */
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* z-index: 1;
    font-size: 30px;
    top: 35vh;
    left: 70vh; */
}

#welcome {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
}

#welcome-button {
    color: orange;
    background-color: lightgoldenrodyellow;
    border-radius: 100px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: 4px solid orange;
    font-family: "Times New Roman", Times, serif;
    background-color: yellow;
}

.cat-drowning {
    width: 40%;
    height: 200px;
    float: left;
    /* padding: 20px; */
    position: relative;
}

.cat-drowning img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 10px;
    /* margin-top: 50px; */
}

.cat-drowning p {
    margin: 15px;
}

.cat-drowning h3 {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 5px; 
}

.world-greece {
    width: 40%;
    height: 200px;
    float: right;
    /* padding: 20px; */
    position: relative;
}

.world-greece img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 10px;
}

.world-greece p {
    margin: 15px;
}

.world-greece h3 {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 5px;
}

@media screen and (max-width: 812px) {
    .world-greece {
        width: 100%;
        height: max-content;
    }

    .cat-drowning {
        width: 100%;
        height: max-content;
    }
    
    main {
        height: 100%;
    }
    footer {
        height: max-content;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }
}