<div> 
    {{#projects}}
        <div>
        <a href="/{{directory}}">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
      <a href="/{{directory}}">
         <p>{{project}}</p>
         </a>
        </div>
    {{/projects}}
</div>  