<h1> 🌿Welcome to Eileens portfolio. <br>  Here you can find all the amazing work she did at Spiced Academy.🌱</h1>

<h2>Projects that she recently did:
</h2>

<div class="container">
   
      {{#projects}}
    <div>
        <a href="/{{directory}}">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
      <a href="/{{directory}}">
         <p>{{project}}</p>
         </a>
    </div>
      {{/projects}}
  
    
</div>
