<div class="h1Main">
<h1> 🌿Welcome to Eileens portfolio. Here you can find all the amazing work she did at Spiced Academy.🌱</h1>
</div>

<div class="h2Main">
<h2>Projects that she recently did:</h2>
</div>

<div class="middle">
   {{>projectList welcome=true}}
</div>

