<h1> 🌿Welcome to Eileens portfolio. <br>  Here you can find all the amazing work she did at Spiced Academy.🌱</h1>

<h2>Here a list with projecten die ze heeft gdn</h2>

<div class="container">
   
    
      {{#projects}}
    <div>
      <img src="/{{directory}}/screenshot.jpg">
         <p>{{project}}</p>
    </div>
      {{/projects}}
  
    
</div>
