<div> 
    {{#projects}}
        <span>
            {{#if ../welcome}}
        <a href="/projects/{{directory}}">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
             {{/if}}
      <a href="/projects/{{directory}}">
         <p>{{project}}</p>
         </a>
        </span>
    {{/projects}}
</div>  