
    {{#projects}}
        <div>
            {{#if ../welcome}}
        <a href="/projects/{{directory}}" target="_blank">
      <img src="/{{directory}}/screenshot.jpg">
      </a>
             {{/if}}

      <a href="/projects/{{directory}}" target="_blank">
         <p>{{project}}</p>
         </a>
        </div>
    {{/projects}}
